@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Vehicle Booking App</h1>
</div>

<hr />
<div class="container">
    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='VehicleBookings'">View Bookings</button>
</div>

<hr />
<div class="container">
    <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="location.href='VehicleBookings/Create'">Create Booking</button>
</div>
